.hi {
  width: 50px;
  height: 72px;
  background-image: url("http://artkiev.com/blog/wp-content/uploads/2013/09/sprite.png");

  -webkit-animation: play .8s steps(10) infinite;
  -moz-animation: play .8s steps(10) infinite;
  -ms-animation: play .8s steps(10) infinite;
  -o-animation: play .8s steps(10) infinite;
  animation: play .8s steps(10) infinite;
}

@-webkit-keyframes play {
  from { background-position:    0px; }
  to { background-position: -500px; }
}

@-moz-keyframes play {
  from { background-position:    0px; }
  to { background-position: -500px; }
}

@-ms-keyframes play {
  from { background-position:    0px; }
  to { background-position: -500px; }
}

@-o-keyframes play {
  from { background-position:    0px; }
  to { background-position: -500px; }
}

@keyframes play {
  from { background-position:    0px; }
  to { background-position: -500px; }
}
