html {
  width: 1480px;
  height: 1282px;
  margin-left: 100px;
  margin-right: 99px;
  margin-top: 61px;
  margin-bottom: 30px;
}

body {
  width: 1280px;
  height: 1191px;
  padding: 0px;
  margin: 61px 40px 30px 100px;
  font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular;
}
.colortext {
  color: #4bcaff;
}

.logo {
  font-size: 80px;
  width: 292px;
  height: 74px;
  padding-bottom: 45px;


  }
.logo a{
  text-decoration: none;
color: #000000;
}

.navigation-top-ul {
  padding: 0px;
  margin: 0px;
  width: 1280px;
  height: 69px;
}

.navigation-top {
  width: 1280px;
  height: 69px;
  text-decoration: none;
  padding-bottom: 51px;

}

.navigation-top li {
  text-decoration: none;
  list-style-type: none;
  overflow: hidden;
  width: 300px;
}

.navigation-top a {
  color: #FFFFFF;
  display: inline-block;
  background-color: #35444f;
  font-size: 24px;
  margin-left: -4px;
}

a.navigation-top-1{

  padding-left: 203px;
  padding-right: 42px;

}
a.navigation-top-2{
  background-color: #222f3a;
  width: 150px;
  height: 69px;
  text-align: center;
  padding-left: 41px;
  padding-right: 41px;
 }
a.navigation-top-3{
  padding-left: 43px;
  padding-right: 45px;

}
a.navigation-top-4{
  padding-left: 40px;
  padding-right: 116px;
}
#wrapper {
  display: inline-block;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 29.99244px;
  text-decoration-color: rgba(72, 88, 99, 255);
}





.navigation-top a {
  text-decoration: none;
  line-height: 69px;
  font-size: 24px;
  display: inline-block;

}

.navigation-top li {
  display: inline;
}

.menu a {
  display: block;
  background: #FFFFFF;
  width: 342px;
  height: 80px;
  line-height: 81px;
  padding-left: 44px;
  text-decoration: none;
}

.sub-menu a {
  background-color: #dbdbdb;
  padding-left: 69px;
  width: 273px;
  height: 81px;
}

#menu {

  float: left;
  width: 344px;
  height: 399px;
  vertical-align: top;
  outline: 1px solid #000;
}

#menu li {
  width: 344px;
}

#content {
  width: 885px;
  height: 529px;
  float: left;
  vertical-align: top;
  outline: 1px solid #000;
  margin-left: 51px;
}

figure {
  text-align: center;
}

p {
  width: 815px;
  height: 114px;
  text-align: left;
  float: right;
  padding-left: 526px;
  font-size: 18px;

}

.text_under1 {
  width: 1280px;
}

#footer {
  display: flex;
  background: #b4b7ba;
  width: 1280px;
  height: 69px;
  line-height: 69px;
  vertical-align: middle;
}

.navigation-bottom {

  width: 809px;
  height: 26px;
  line-height: 26px;
  margin: auto;
  margin-left: 44px;
}

.navigation-bottom a {
  text-decoration: none;
  font-size: 28px;
  color: rgba(12, 25, 39, 255);
  display: inline-block;
}

.navigation-bottom a:nth-child(2) {
  text-decoration: none;
  color: #3181a6;
  border-bottom: 1px solid;
  padding-bottom: 3px;

}

.navigation-bottom-copyrigt {
  width: 175px;
  height: 23px;
  line-height: 23px;
  color: rgba(1, 1, 1, 255);

  font-size: 24px;
  text-align: right;
  float: right;
  vertical-align: middle;
  margin: auto;
}
