.container{
  border:1px #FF9933 solid;
margin: 0 auto;
width: 900px;
}
header,main,footer,aside,section{
  border:1px #82af4d solid;
  padding: 5px;
  margin: 5px;
}
section{
  background-color: #010279;
}
left
