html {
  font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
  background: black;
}
body{
  margin-top: 70px;
  background-image: url("../img/background-image.png");
  background-size: cover;
  max-width:100%;
  height: 1400px;
  margin-bottom: 70px;
}
header {
  margin-bottom: 45px;
  background-color: transparent;
}
.ic-forum-1x, .ic-journey-1x, .ic-caledar-1x
{ display: inline-block; background: url('../img/png.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }

.ic-forum-1x { background-position: -0px -0px; width: 28px; height: 20px; margin-left: 28px;}
.ic-journey-1x { background-position: -0px -20px; width: 20px; height: 20px;margin-left: 28px; }
.ic-caledar-1x { background-position: -0px -40px; width: 19px; height: 19px; }

.logo {
  width: 170px;
  height: 44px;
  margin-left: 81px;
  margin-top: 22px;

  display: inline-block;
  margin-right: 656px;
}
.icons{
  width: 129px;
  display: inline-block;
}
.welcome{
  width: 129px;
  display: inline-block;
  margin-left: 50px;
}
a {
  text-decoration: none;
  color: white;
}

.logo-text-1-line {
  display: inline-block;
  font-size: 29px;
}

.logo-text-2-line {
  font-size: 18px;
}

.right-header {
  display: inline-block;
  text-align: right;
  color: #FFFFFF;
  font-size: 18px;
}
*, *:before, *:after {
  box-sizing: border-box;
}





a {
  text-decoration:none;
  color:$main;
  transition:.5s ease;
&:hover {
   color:$main-dark;
 }
}

.form {
  background-color: white;
  padding: 40px;
  max-width:444px;
  margin:40px auto;
  border-radius:$br;
}

.top-form {
  display: block;
  padding: 0;
  margin: 0 0 0 0;
}
.square{
  width: 18px; height: 18px;
  display: inline-block;
  background: #f447ff;
}
.signup{
  display: inline-block;
  width: 77px;
  margin-left: 40px;
}
.login{
  display: inline-block;
  width: 43px;
  margin-left: 205px;
}

&:after {
   content: "";
   display: table;
   clear: both;
 }
li a {
  display:block;
  text-decoration:none;
  padding:15px;
  background:rgba($gray-light,.25);
  color:$gray-light;
  font-size:20px;
  float:left;
  width:50%;
  text-align:center;
  cursor:pointer;
  transition:.5s ease;

}






h1 {
  text-align:center;
  color:$white;
  font-weight:$thin;
  margin:0 0 40px;
}

label {
  position:absolute;
  transform:translateY(6px);
  left:13px;
  color:rgba($white,.5);
  transition:all 0.25s ease;

  pointer-events: none;
  font-size:22px;
}

label.active {
  transform:translateY(50px);
  left:2px;
  font-size:14px;
.req {
  opacity:0;
}
}

label.highlight {
  color:$white;
}

input, textarea {
  font-size:22px;
  display:block;
  width:100%;
  height:100%;
  padding:5px 10px;
  border:1px solid $gray-light;
  color:$white;
  border-radius:0;
  transition:border-color .25s ease, box-shadow .25s ease;
&:focus {
   outline:0;
   border-color:$main;
 }
}

textarea {
  border:2px solid $gray-light;
  resize: vertical;
}

.field-wrap {
  position:relative;
  margin-bottom:9px;

}

.top-row {
&:after {
   content: "";
   display: table;
   clear: both;
 }

> div {
  float:left;
  width:48%;
  margin-right:4%;
&:last-child {
   margin:0;
 }
}
}

.button {
  border:0;
  outline:none;
  border-radius:0;
  padding:15px 0;
  font-size:16px;
  font-weight:$bold;
  letter-spacing:.1em;
  background:#3cb878;
  color:$white;
  transition:all.5s ease;
  -webkit-appearance: none;
  width:322px;
  height:46px;
  color: white;

}

.facebook{
  background:#305db8;
  border-radius:0;
  width:48%;
  padding:15px 0;
  text-decoration: white;
}
.google{
  background:#df4a32;
  border-radius:0;
  width:48%;
  padding:15px 0;
}
.button-block {
  display:block;
  width:100%;
}

.forgot {
  margin-top:-20px;
  text-align:right;
}
.checkbox {
  margin-bottom: 30px;
  color: #3cb878;
  font-weight: normal;
  font-size: 14px;
&:focus {

 // removing default focus style
 outline: 0;
 // adding new one
 background: white;

& + label {
    opacity: 0;
  }
}

&:valid {
   background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/check.svg);
   background-size: 20px;
   background-repeat: no-repeat;
   background-position: 20px 20px;
& + label {
    opacity: 0;
  }
}

&:invalid:not(:focus):not(:placeholder-shown) {
   background: pink;
& + label {
    opacity: 0;
  }
}

&:invalid:focus:not(:placeholder-shown) {
& ~ .requirements {
    max-height: 200px;
    padding: 0 30px 20px 50px;
  }
}
}


.hr{
  width: 30%;
  display: inline-block;
  margin: auto;
}

input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.grey-text{
  color: rgba(67, 67, 67, 255);
}
.green-text{
color:rgba(60, 184, 120, 255);
  font-size: 14px;
}
