#wrapper {

  width: 500px;

  height: 60px;

  background: #EFEFEF;

}

.section {
  border: solid 1px #999;
  float: left;
  height: 58px;
  margin-left: 10px;
  background-color: #FF9933;
  width: 98px;
  display: inline-block;
}
li{
  columns: 100px auto;
}
