.container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-areas:
    "header header header"
    "verticalmenu content advert"
    "footer footer footer"
;
}

.container .b1 {
  border: 1px #33333a solid;
}

.header {
  grid-area: header;
}

.menu-wrapper {
  grid-area: topmenu;
}
.vertical-nav {
  grid-area: verticalmenu;
}
.content {
  grid-area: content;
}
.advert {
  grid-area: advert;
}
.footer {
  grid-area: footer;
}
@media all and(max-width: 600px) {
  .container
}
