header {
  font-family: "Arial Black";
  font-weight: bold;
  text-decoration-color: aqua;
}

p, h2, header, button {
  text-align: center;
}

body {
  background-color: aliceblue;
}

.button {
  background-color: #82af4d; /* Green */
  text-align: center;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

div {
  text-align: right;
  font-family: "Arial Black";
  font-weight: bold;
  margin-right: 100px;
}
