html,body{
 width: 100%;
}
.container{
  background-image: url("../img/merry.jpg");
  background-size: cover;
  height: 100vh;
  position: relative;
}
.container header{
background-color: black;
  height: 56px;
  opacity: 0.41;
}
.container.login-wrapper{
  position: relative;
}
.container.form-wrapper{
  background-color: #FFFFFF;
  position: absolute;
  top:30%;
  left: 40%;
  right: 30%;
}
