#button-div {
    display: inline-block;
    text-decoration: none;
    padding: 2px 2px;
    border: 1px solid black;
    border-radius: 10px;

    background-color: white;
    color: #333;
}
button{
    background-color: white;
    font-size: 16px;
    border: 1px;
    border-radius: 10px;
    padding: 1px;
    cursor: pointer;
}
#button-div:hover {
    background: #fafafa;
    color: #3a7999;
    box-shadow: inset 0 0 0 1px #3a7999;
}
button:hover {

    color: #3a7999;
    box-shadow: inset 0 0 0 1px #3a7999;
}

.error { outline: 1px solid red; }
.normal{
    color: green;
}
.focused {outline: 1px solid green;}