html{
  width: 1280px;
  height: auto;
}
.container {
  font-family: 'Courier Prime', monospace;
  color: rgba(0, 0, 0, 255);
  box-sizing: border-box;
  font-size: 20px;
  display: inline-block;
}
.header-navigation-container__left-content{
  font-size: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 292px;
  height: 74px;
  padding-left: 101px;
  padding-top: 61px;
  padding-bottom: 45px;
}
.header-navigation-container__li{
  background-color: #838283;
  padding-top: 26px;
  height: auto;
  width: 1280px;
  padding-bottom: 45px;
}
.colortext {
  color: red;
}
.left{
  width: 344px;
  height: 399px;
  float: left;
}
.wrapper{
  display: inline-block;
}
.picture{
  width:885px;
  height: 559px;
  background: #FF9933;
  display: inline-block;

}
