ul > li, ul > li a {
  line-height: 30px;
}

.link {
  width: 30px;
  height: 30px;
  background-image: url("../img/angry.png");
}
.icon{
  display: inline-block;
  width: 115px;
  height: 120px;
}

.link::before {
  content: "";
  background: url("../img/angry.png") -320px -10px;
  background-size: 100px;
  width: 100px;
  height: 100px;
  display:inline-block;
}
