body{
  background-color: black;
}
.battery {
  border: 1px solid #fff;
  border-radius: 20px;
  height: 120px;
  padding: 1px;
  position: relative;
  width: 360px;
  }
.battery:hover{
  cursor: pointer;
  background-color: #ff4561;
}
.battery:before{
  content: '';
  display: block;
}
