.container{
  border: 1px #ff4561 solid;
  padding: 5px;
}
.container fieldset{
  border: none;
}
.i-forms.form-group{
  padding: 5px;
  margin-bottom: 10px;
}
.i-forms.form-group input[type=text]{

}
