html, body {
  height: 100%;
}

.container {
  background-color: #FF9933;
  height: 100%;
  margin: 0 auto;
  width: 970px;
}

.container .main-header {
  height: 15%;
}

.container .content {
  height: 75%;
}

.container .main-footer {
  height: 10%;
}

.container ul {
  margin-top: 0;
}

