<ol id="spisokst" style = "display:block;width:270px;background-color:#4EAEC1;color:black;">
  <li>Первоя строка</li>
  <li>Вторая строка</li>
  <li>Третья строка</li>
</ol>
<table>
  <tr>
    <td>
      <p onClick="javascript:addLi()"
         style = "display:block;width:150px;background-color:#4EAEC1;color:black;"
         align = "center"
         onmouseover="this.style.color = '#ffffff';this.style.cursor = 'pointer';"
         onmouseout="this.style.color = 'black';">
        Добавить в список
      </p>
    </td>
    <td>
      <p onClick="javascript:deleteLi()"
         style = "display:block;width:150px;background-color:#4EAEC1;color:black;"
         align = "center"
         onmouseover="this.style.color = '#ffffff';this.style.cursor = 'pointer';"
         onmouseout="this.style.color = 'black';" >
        Удалить из списка
      </p>
    </td>
  </tr>
</table>
