body{
  height: 100%;
  background-color: black;
}
.field{
  background-color: green;
  display: flex;
  height:700px;
  width: 1080px;
}
.field-wraper{
  display: flex;
  border: 1px solid,#3d4543;
}
.container{
  background-color: black;
  height: 500px;
}
