html, body{
  width: 100%;
}
.container>div{
  border:1px #FF9933 solid;
  box-sizing: border-box;
 }
.left-content,right-content{
  width: 30%;
}
.center-content>div{
  width:40%;
  float: left;
}
.div{
display: block;
}
