#wrapper header{
  padding: 10px;
  background-color: #FF9933;
  border: 10px #010279 solid;
  }
#wrapper main{
  margin: 5px;
  padding: 30px;
  background-color: yellow;
  height: 30%;
}
#wrapper footer{
  padding: 50px;
  background-color: blue;
  height: 30%;
  margin: 5px;
  color: blue;
}
