
.header1{
  display: flex;
  background: blue;
  height: 200px;
}

.flex-container {
  display: flex;

}
.flex-item{
  display: flex;
  border:1px #FF9933 solid;
  padding: 5px;

}
.box {
  text-align: center;
  width: 100px;
  height:50px;
  margin: 0 5px;
}
.box-1 {
  width:50px;
  background: #ff0000;
}
.box-2 {
  width:70px;
  background: #da2cab;
}
.box-3 {
  width:90px;
  background: #008000;
}
.box-4 {
  background: #0000ff;
}
.container{
  display: flex;
}
.not-flex{
  width: 20%;
  border:1px #FF9933 solid;
  padding: 5px;
}
