
body {
  font-family: Verdana;
  font-size: 18px;
}

caption {
  font-size: 32px;
}
.container {
  background-color: #bccd95;
  padding: 5px;
}

table {
  border-collapse: collapse;
}

.theme-dark {
  background-color: #33333a;
  color: #ffffff;
}

.theme-dark-body tr:nth-child(2n) {
  background-color: #FF9933;
  color: #497DDD;
}

.theme-dark-body tr > td {
  border: 1px #6f6f6f solid;
}


.theme-dark-footer tr > th{
  padding: 10px;
}
