html {
  font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
}

body {
  /*width: 1366px;
  height: 768px;*/
  background-image: url("../img/background-img.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.container-header{
  width: 100%;
  max-width: 1028px;
  margin: 0 auto;
  display: flex;
  justify-content:space-between;
}
footer,main,header {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
}

header {
  margin-bottom: 22px;
  margin-top:46px;
}

.logo {
  width: 180px;
  height: 51px;
  }
.logo-image{
  width: 53px;
  height: 47px;
  display: inline-block;
  background-image:url("../img/milan-emb.png");
  background-repeat: no-repeat;
}
a {
  text-decoration: none;
  color: #FFFFFF;
}
.logo-text {
  display: inline-block;
  width: 100px;
}
.logo-text-1-line {
  font-size: 29px;
}

.logo-text-2-line {
  font-size: 18px;
}
.container{
  display: inline-block;
  text-align: right;
  width: 220px;

}
.right-header-1,.right-header-2 {
  display: inline-block;
  text-align: right;
  color: #FFFFFF;
  font-size: 18px;

}
.right-header-2{
  margin-top: 19px;
}
.galery{
  display: inline-block;
  position: relative;
}
figure {
  width: 300px;
  height: 200px;
  padding: 0px;
  box-shadow: 0 0 6px rgba(0, 0, 0, .4);
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
}
img{
  width: 300px;
  height: 200px;
}
figcaption {
  font-weight: bold;
  text-align: center;
  color: rgba(255, 255, 255, 255);
  font-size: 18px;
  margin-top: 20px;
}

.first-figure {
  margin-left: 157px;
  margin-bottom: 0px;
}

.second-figure {
  margin-left: 157px;
  margin-top: 55px;
}

p {
  text-align: center;
  margin-top: 40px;
  font-size: 12px;
  color: #FFFFFF;
}
.buying-box{
  background-color: #F26522;
  width: 300px;
  height: 55px;
  position: absolute;
  bottom: 45px;
  display:none;
}
.logo:hover .logo-image{
   background-image:url("../img/milan-emb-hover.png");
   background-repeat: no-repeat;
 }
.logo:hover .logo-text-1-line{
  color: #F26522;
}
.logo:hover .logo-text-2-line{
  color: #F26522;
}

.hover-details::after {
  content: ">";
  font-size: 10px;
  margin-left: 16px;
}
a:not(.hover-details):hover{
  color: #F26522;
}
/*.logo-text>a:hover{
  color: #F26522;
}*/
.hover-from{
  font-size: 10px;
  display: inline-block;
  margin-left: 16px;
  margin-top: 7px;
  margin-bottom: 0px;
  text-align: left;
  width: 280px;
}
.hover-price{
  display: inline-block;
  margin-left: 10px;
  font-size: 20px;
  text-align: left;
  margin-bottom: 0px;
  margin-top: 0px;
  width: 130px;
}
.hover-details{
  display: inline-block;
  font-size: 14px;
  text-align: right;
  width: 150px;
}

figure:hover .buying-box{
display: block;

}

figure:hover figcaption{
  color: #F26522;
}
