body{
  background-color: #2850a9 ;
}
.test-mouse{
  border: 1px #ff4561 solid;
  padding: 10px;
  margin: 0 auto;
  width: 200px;
}
.test-mouse:hover{
  cursor: pointer;
  background-color: #ff4561;
}
.test-mouse h2:first-letter{
color: red;
}
.some-list>li:nth-child(3n){
  background-color: #FF9933;
  color: #3d4543;
}
