*,
*::after,
*::before {
  box-sizing: border-box;
}
html{
    font-family: 'Open Sans', sans-serif;
}
footer, main, header {
  width: 100%;
  min-width: 1423px;
  max-width: 1900px;
  margin: 0 auto;
}

.page-header{
  width: 100%;
  max-width: 1900px;
  max-height: 70px;
  display: flex;
  justify-content: space-between;
  background: #313131;
}
.logo{
  margin: 22px;
}
.search{
  padding: 27px 25px 25px 26px;
  background-color: black;
  width: 68px;
}


.logo span{
  margin-left: 22px;
}
.brand-text{
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 22px;
}

.main-menu a {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: flex-end;
  text-align: right;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration:none;
}

.main-nav{
  display: flex;
}
.main-menu{
  padding: 0;
  list-style: none;
  display: flex;
}
.main-menu-item{
  margin: 10px 20px;
}
.main-menu-link{
  margin: 0px 20px;
}
/*.main-menu-item+.main-menu-item{
  margin-left: 30px;
}*/

.under-header{
  background: url(img/header-background.png) no-repeat;
  background-size: cover;
  height: 369px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;


}
.slogan{
  font-size: 27px;
  font-style: normal;
  font-weight: 700;
  line-height: 37px;
  color: #FFFFFF;
  text-align: center;
}
button {
  color: #fff;
  font-size: 18px;
  text-shadow: 0 1px 0 #757575;
  padding: 4px 0 5px 0;
  margin: 0;
  cursor: pointer;
  border: 0;
  width: 170px;
  height: 55px;
  border-radius: 10px;
}
#subscribe{
  background: #89CA62;
  margin-right: 20px;
}
#articles{
  background: #14B9D5;
}
.popular-posts{
  flex-direction: column;
  justify-content:center;
  align-items:center;
  height: 1030px;
}
.places{
  color: #18B4CF;
  font-size: 27px;
  font-style: normal;
  font-weight: 700;
  line-height: 37px;
  text-align: center;
  padding-top: 49px;
  margin: 0;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 37px;
}
.card {
  display: inline-block;
  position: relative;
  background: #FFFFFF;
  margin-top: 31px;

}
.name-card {
  font-weight: bold;
  text-align: center;
  color: rgba(255, 255, 255, 255);
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #353A3D;

}
.vertical-cards{
  display: flex;
  align-items:flex-start;
  flex-direction: column;
  margin-right: 30px;
}
.container-posts{
  display: flex;
  align-items:flex-start;
 flex-direction: row;
  Justify-content:center;
}
.popular-posts{
  background: #F2F2F2;
}
.clients{
  height: 588px;
  background: url(img/clients-background.svg) no-repeat;
  display: grid;
  grid-template-rows: ;
}
h3{
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  margin: 0;
  padding-top: 106px;
}
