header {
  font-family: "Arial Black", sans-serif;
  font-weight: bold;
  text-decoration-color: aqua;
  width: 1280px;
}

p, h2, header{
  text-align: center;
  width: 1059px;
  margin-left: auto;
  margin-right: auto;

}
body {
  background-color: aliceblue;
}

.button {
  background-color: #82af4d;
  align-content: center;
  border: none;
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
main {
  text-align: center;
}
div {
  text-align: right;
  font-family: "Arial Black", monospace;
   margin-right: 100px;
}
