@import "./vars";
@import "./mixins";

header{
  border-width: $header-border-width solid black;
}
.col{
  @include column($columns,$margin);
  //@include column(3
}
/*.col{
  width: calc(100%/3 - #{$margin*2});
}*/
@media(min-width: 1000px){
  $columns:2;
  .col{
    width:calc(100%/3 - #{$margin*2});
  }
  body{
    color: black;
  }
}
