.img {
  width:500px;
  height:400px;
}
.float.left {
  float: left;}
.float-right {
  float: left;
}
.img-wrapper {
  border: 1px #3d4543 solid;
  border-radius: 5px;
  padding: 5px;
  margin-right: 5px;
}

