html {
  width: 1192px;
  height: 736px;
  background-color: #3a4965;
}
body {
  font-family: 'Arimo', sans-serif;
}

table {
  width: 1143px;
  height: 680px;
  text-transform: uppercase;
  margin: 10px;
  background-color: #FFFFFF;
  text-align: center;
}

.tbl-header {
  background-color: rgba(255, 255, 255, 0.3);
}

.tbl-content {
  height: 300px;
  overflow-x: auto;
  margin-top: 0px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

th {
  padding: 20px 15px;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;

}

td {
  padding: 15px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 16px;
  color: #6f6f6f;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);

}

p {
  color: #6f6f6f;
}



.contactus-button {
  background: linear-gradient(to bottom, #484848 0%, #404040 100%);
  color: #fff;
  font-size: 16px;
  text-shadow: 0 1px 0 #757575;
  padding: 4px 0 5px 0;
  margin: 0;
  cursor: pointer;
  border: 0;
  width: 192px;
  height: 49px;
  border-radius: 10px;
  text-transform: uppercase;
}

.standard-button {
  background: linear-gradient(to bottom, #89c331 0%, #79b027 100%);
  color: #fff;
  font-size: 16px;
  text-shadow: 0 1px 0 #757575;
  padding: 4px 0 5px 0;
  margin: 0;
  cursor: pointer;
  border: 0;
  width: 192px;
  height: 49px;
  border-radius: 10px;
  text-transform: uppercase;
}

.ultimate-button {
  background: linear-gradient(to bottom, #f04a56 0%, #df3a46 100%);
  color: #fff;
  font-size: 16px;
  text-shadow: 0 1px 0 #757575;
  padding: 4px 0 5px 0;
  margin: 0;
  cursor: pointer;
  border: 0;
  width: 192px;
  height: 49px;
  border-radius: 10px;
  text-transform: uppercase;
}

.premium-button {
  background: linear-gradient(to bottom, #20807c 0%, #16736f 100%);
  color: #fff;
  font-size: 16px;
  text-shadow: 0 1px 0 #757575;
  padding: 4px 0 5px 0;
  margin: 0;
  cursor: pointer;
  border: 0;
  width: 192px;
  height: 49px;
  border-radius: 10px;
  text-transform: uppercase;
}

button:hover {
  background: gold;
  font-size: 18px;
}

.first-th {
  color: #6f6f6f;
  width: 278px;
}
