.container{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 200px 100px 300px 200px;
  grid-gap: 50px;
}
.container>div{
border: 1px #ff4561 solid;
  background-color: yellow;

}
